<!-- Better use d-flex ? -->
<div class="jumbotron" style="min-height: 100%;min-height: 100vh; display: flex; align-items: center">
<div class="table-responsive">
<!--TODO Correct That!-->
<%if(me.isSuperAdmin){%>
    <button type="button" id="EditButton" class="btn btn-danger btn-lg mr-5 ml-0 mb-2" data-toggle="modal" data-target="#Editor" disabled>Edit <i class="fa fa-edit fa-lg" style="color:white"></i></button>
<%}%>
<table id="available-data" class="display">
    <!-- HEADERS -->
    <thead class="table-primary"> 
    <tr>
    <% for(var i=0; i < headers.length; i++){ %>
        <th scope="col" data-sortable="true" style ="width: auto !important"><%=headers[i].replace(/_/g, ' ')%></th>
    <%}%>
      </tr>
    </thead>
    <!-- BODY -->
    <tbody>
    <% for(var j=0; j < data.length; j++){ %>
      <tr>
      <% for(var i=0; i < headers.length; i++){%>
      <% var pdfHeaders = Data.pdfFields();%> 
         <% if(headers[i] === "Results"){%>
            <th scope="col" style ="width: auto !important" id ='<%="ResultsModalButton"+"_"+j %>'>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target='<%="#Results"+"_"+j %>'>
                      Results Table
              </button>
         </th>
           <%}
            else{%>
              <%if(pdfHeaders.indexOf(headers[i])!==-1){%>
                <!--This should be a link to a PDF-->
                <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;">
                    <% var correct_header = headers[i]+"_id" %>
                    <%console.log(correct_header)%>
                    <a href="/account/file/download/<%=data[j][correct_header]%>" target="_blank"><%=headers[i].replace(/_/g, ' ')%></a></td>
                <%}
                else{%>
                    <%if(headers[i]==="Validated_Status"){%>
                        <%if(data[j][headers[i]] === undefined || data[j][headers[i]] === ""){%>
                            <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><div data-id=<%=data[j]["id"]%>></div></td>
                            <%}
                            else{%>
                              <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><i class="fa fa-check fa-lg" style="color:green"></i><div data-id=<%=data[j]["id"]%>></div></td>
                            <%}
                          %>
                <%}else{%>
                    <%if(headers[i] === "CTR"){%>
                        <%if(data[j][headers[i]] === undefined || data[j][headers[i]] === ""){%>
                            <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"></td>
                            <%}
                            else{%>
                                <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><i class="fa fa-check fa-lg" style="color:green"></i></td>
                            <%}
                          %>
                    <%}else{%>
                  <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><%=data[j][headers[i]]%></td>
                  <%}%>
                <%}
                %>
                
                <%}
              %>
             <%} %>
           <%}%>
      </tr>
    <%}%>
    </tbody>
</table>
</div>
</div>
<!-- Add all the modal for the results -->
<% for(var j=0; j < data.length; j++){ %>
  <div class="modal fade" id='<%="Results"+"_"+j %>' tabindex="-1" role="dialog" aria-labelledby="ResultsTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-body">
            <div class="modal-header">
                <h5 class="modal-title" id="ResultsTitle">Results Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Display the results Table TODO, Better Styling for the small table-->
                <%-data[j]["Results"]%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
  <%}%>
<!-- Add a Modal for row edition -->
<!-- TODO Update Model according to current state -->
<form action="/account/file/edit" method="post" id="dataEdition">
<div class="modal fade" id='Editor' tabindex="-1" role="dialog" aria-labelledby="EditorTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-body">
            <div class="modal-header">
                <h5 class="modal-title" id="EditorTitle">Row Editor</h5>
            </div>
            <div class="modal-body">
                <!--Small form to edit the table -->
                <div class="container">
                
                    <div class="form-group row">
                        <label for="TRA-Text-input" class="col-2 col-form-label">TRA</label>
                        <div class="col-10">
                          <input class="form-control" type="text" value="" id="TRA-input" placeholder="Put your TRA here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-2" id="Validated">Results Status</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="validatedCombo">
                                <option selected>Choose...</option>
                                <option value="Preliminary">Preliminary</option>
                                <option value="Definitive">Definitive</option>
                                <option value="Investigation">Investigation</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Validated</label>
                            <label class="form-check-label pl-200">
                                <input class="form-check-input" type="checkbox" id="validatedCheck">
                            </label>
                        </label>
                    </div>
                    <div class="form-group row">
                            <label class="col-sm-2">CTR</label>
                            <label class="form-check-label pl-200">
                                    <input class="form-check-input pl-200" type="checkbox" id="CTRCheck">
                                </label>
                            </label>
                    </div>
                </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditorButton">Close</button>
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div> 
</form>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
