<table class="table table-dark">
    <thead>
    <% for(var i=0, i < headers.length; i++){ %>
      <tr>
        <th scope="col"><%=headers[i]%></th>
      </tr>
    <%}%>
    </thead>
    <tbody>
    <% for(var j=0, j < data.length; j++){ %>
      <tr>
        <th scope="row">i</th>
        <td><%=data[i].Aircraft%></td>
        <td><%=data[i].Msn%></td>
        <td><%=data[i].Flight%></td>
        <td><%=data[i].FuelFlowmeters%></td>
        <td><%=data[i].FuelCharacteristics%></td>
        <td><%=data[i].AircraftIdentification%></td>
        <td><%=data[i].Airline%></td>
        <td><%=data[i].Results%></td>
        <!-- TODO Put some color when status bla bla is not avaible-->
        <td><%=data[i].ParametersValidation%></td>
        <td><%=data[i].FleetFollowUp%></td>
        <td><%=data[i].TRA%></td>
        <td><%=data[i].CTR%></td>
        <td><%=data[i].Preliminary%></td>
        <td><%=data[i].ValidatedStatus%></td>
      </tr>
    <%}%>
    </tbody>
  </table>