<body class="dash">

<div class="container-fluid" >
<div class="jumbotron jumbostyle" >
    
    <%if(search){%>
        <h1 class="display4">Search results for <%=msn%></h1>
    <%if(data[0] == undefined || headers == undefined){%>
    
        
        <h5 style="text-decoration: underline;">No results found</h5>
                <%}}  %>

<%if(data[0] !== undefined && headers !== undefined){%>                
<div class="table-responsive">
<!--TODO Correct That!-->
<%if(me.isSuperAdmin || me.isBasicUser){%>
    <button type="button" id="EditButton" class="btn btn-danger btn-lg mr-5 ml-0 mb-2" data-toggle="modal" data-target="#Editor" disabled>Edit <i class="fa fa-edit fa-lg" style="color:white"></i></button>
<%}%>


<table id="available-data" class="display">
    <!-- HEADERS -->
    <thead class="table-primary"> 
    <tr>
    <% for(var i=0; i < headers.length; i++){ %>
        <th scope="col" data-sortable="true" style ="width: auto !important"><%=headers[i].replace(/_/g, ' ')%></th>
    <%}%>
      </tr>
    </thead>
    <!-- BODY -->
    <tbody>
    <% for(var j=0; j < data.length; j++){ %>
      <tr id='<%=data[j]["id"]%>'>
      <% for(var i=0; i < headers.length; i++){%>
      <% var pdfHeaders = Data.pdfFields();%> 
         <% if(headers[i] === "Results"){%>
            <th scope="col" style ="width: auto !important" id ='<%="ResultsModalButton"+"_"+j %>'>
              <button type="button" class="btn btn-primary" style="text-transform:capitalize" data-toggle="modal" data-target='<%="#Results"+"_"+j %>'>
                      View Table
              </button>
         </th>
           <%}
            else{%>
              <%if(pdfHeaders.indexOf(headers[i])!==-1){%>
                <!--This should be a link to a PDF-->
                <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;">
                    <!-- Link should appear if the id is actually there -->
                    <% var correct_header = headers[i]+"_id" %>
                    <%if(data[j][correct_header] === undefined || data[j][correct_header] === ""){%>
                    </td>
                        <%}else{%>
                    <a href="/account/file/download/<%=data[j][correct_header]%>" target="_blank"><i class="fa fa-file fa-lg" style="color:rgb(98, 166, 255)"></i></a></td>
                    <%}%>
                <%}
                else{%>
                    <%if(headers[i]==="Validated_Status"){%>
                        <%if(data[j][headers[i]] === undefined || data[j][headers[i]] === ""){%>
                            <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"></td>
                            <%}
                            else{%>
                              <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><i class="fa fa-check fa-lg" style="color:green"></i><div data-id=<%=data[j]["id"]%>></div></td>
                            <%}
                          %>
                <%}else{%>
                    <%if(headers[i] === "CTR"){%>
                        <%if(data[j][headers[i]] === undefined || data[j][headers[i]] === ""){%>
                            <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"></td>
                            <%}
                            else{%>
                                <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><i class="fa fa-check fa-lg" style="color:green"></i></td>
                            <%}
                          %>
                    <%}else{%>
                        <%if(headers[i] === "TRA"){%>
                            <%if(data[j][headers[i]] === "" || data[j][headers[i]] === undefined){%>
                                <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"></td>
                                <%}else{%>
                                    <% var linkName = "CRUISE PERFORMANCE " + data[j]["Aircraft"] + " MSN " + data[j]["MSN"] + " FLIGHT " + data[j]["Flight"] %>
                                    <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><a href='<%=data[j][headers[i]]%>' target="_blank"><%=linkName%></a></td>
                                    <%}
                            %>
                            <%}else{%>
                  <td scope="col" style ="width: auto !important; text-align: center; vertical-align: middle;"><%=data[j][headers[i]]%></td>
                  <%}%>
                  <%}%>
                <%}
                %>
                
                <%}
              %>
             <%} %>
           <%}%>
      </tr>
    <%}%>
    </tbody>
</table>
</div>



</div>
<!-- Add all the modal for the results -->
<% for(var j=0; j < data.length; j++){ %>
  <div class="modal fade" id='<%="Results"+"_"+j %>' tabindex="-1" role="dialog" aria-labelledby="ResultsTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-body">
            <div class="modal-header">
                <h5 class="modal-title" id="ResultsTitle">Results Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Display the results Table TODO, Better Styling for the small table-->
                <%-data[j]["Results"]%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
  <%}%>
<!-- Add a Modal for row edition -->
<!-- TODO Update Model according to current state -->
<form action="/account/file/edit" method="post" id="dataEdition">
<div class="modal fade" id='Editor' tabindex="-1" role="dialog" aria-labelledby="EditorTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-body">
            <div class="modal-header">
                <h5 class="modal-title" id="EditorTitle">Row Editor</h5>
            </div>
            <div class="modal-body">
                <!--Small form to edit the table -->
                <div class="container">
                
                    <div class="form-group row">
                        <label for="TRA-input" class="col-2 col-form-label">TRA</label>
                        <div class="col-10">
                          <input class="form-control" type="text" value="" id="TRA-input" placeholder="Put your TRA here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Comment-input" class="col-2 col-form-label">Comment</label>
                        <div class="col-10">
                          <input class="form-control" type="text" value="" id="Comment-input" placeholder="Write a comment here">
                        </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-2" id="Validated">Delivery Date</label>
                            <div class="input-group col-sm-10">
                                    <input type="text" class="form-control docs-date" id="Delivery-Input" name="date" data-toggle = "datepicker" placeholder="Pick a date">
                                    <div class="input-group-append">
                                      <button type="button" id = "Calendar-button" class="btn btn-outline-secondary docs-datepicker-trigger">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                    </div>
                    <% if(me.isSuperAdmin){%>
                    <div class="form-group row">
                        <label class="col-form-label col-2" id="Validated">Results Status</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="validatedCombo">
                                <option selected>Choose...</option>
                                <option value="Preliminary">Preliminary</option>
                                <option value="Definitive">Definitive</option>
                                <option value="Investigation">Investigation</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Validated</label>
                            <label class="form-check-label">
                                <input class="form-check-input col-sm-2" type="checkbox" id="validatedCheck">
                            </label>
                        </label>
                    </div><%}%>
                    <div class="form-group row">
                            <label class="col-sm-2">CTR</label>
                            <label class="form-check-label">
                                    <input class="form-check-input col-sm-2" type="checkbox" id="CTRCheck">
                                </label>
                            </label>
                    </div>
                </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditorButton">Close</button>
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>

</div> 
<%}  %>
</body>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
